---
---

@import "{{ site.theme }}";

.project-button {
  background-color: #27ae60;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  width: 200px;
  text-align: center;
  white-space: normal;
  transition: background-color 0.3s;
}

.project-button:hover {
  background-color: #2abd68;
  text-decoration: none;
}

.project-button:active {
  background-color: #2abd68;
  text-decoration: none;
}
