---
---

@import "{{ site.theme }}";

.project-button {
  background-color: #27ae60;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  white-space: normal;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.project-button:hover {
  background-color: #2abd68;
  text-decoration: none;
}

.project-button:active {
  background-color: #2abd68;
  text-decoration: none;
}

.btn.active {
  color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

.project-button-secondary {
  background-color: #ecf0f1;
  color: #546b74;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  white-space: nowrap;
}

.project-button-secondary:hover {
  background-color: #d4d9dc;
  text-decoration: none;
}

.project-button-secondary:active {
  background-color: #d4d9dc;
  text-decoration: none;
}
